# Tracking locked dependencies is unnecessary overhead for packages.
# Moreover, it's potentially misleading as the package should theoratically
# work with any package combination that is allowed by pyproject.toml.
poetry.lock

# Byte-compiled / optimized files
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

# build files
*.egg-info/
build/
dist/

# jupyter cache
.ipynb_checkpoints/

# conda env dir
.condaenv/

# venv directories
.venv/

# IDE directories
.vscode/

# pytest coverage file
.coverage

# docs build
docs/_build
docs/source

# environment files
.env
.env.secrets

